[2017-05-31 15:20] drbenmorgan commented on #3
Hi @lemiere, both of those links are working for me, so I would suspect a network issue. Are you able to download these directly, e.g.

[code]

If those don't work at least it should give some indication of the problem. If they do work, try

[code]

as that should give more information, including progress of the download.

[2017-05-31 15:35] lemiere commented on #3
Note that : I'm connected via qlogin to use interactive batch to install sw.
I tried using wget and it worked!
I tried to declare HOMEBREW_TEMP and put tarball on that dir but failed....
It's also the case for icu4c, libpng....

Note that : On another worker (not interactive batch using qlogin), it worked!

[2017-06-20 14:00] drbenmorgan commented on #4
Hi @goliviero, could you try the workaround in this FAQ please?:

https://github.com/Linuxbrew/brew/wiki/FAQ#why-does-curl-fail

[2017-06-20 14:16] goliviero commented on #4
Oh ok, i followed the instructions and it seems to work !
Thanks a lot !

[2018-01-11 16:13] drbenmorgan commented on #3
Closing issues older than 2 months.

[2018-10-17 05:23] matteoceschia opened #12 "brew several commits behind Linuxbrew/brew makes homebrew-cadfael crashing in MacOS High Sierra"
I am a novice (just joined SN) and I was trying to install SuperNEMO software via homebrew-cadfael with some difficulties. I managed to successfully install it but maybe explaining the issues found can avoid future potential issues.

First, XCode10 seems to cause some problems: it is not recognized (gets mistaken for XCode1 raising:
Error: Your Xcode (1) is too outdated).
No problems with XCode9.2

[2018-10-17 10:30] drbenmorgan commented on #12
@matteoceschia, based on some recent testing, I'm now recommending that users migrate to using the official Linuxbrew (or Homebrew). To do this on High Sierra with Xcode 10 (NB Mojave is *not* tested yet), do:

[code]

If that doesn't work, please submit an Issue on supernemo-dbd/homebrew-cadfael.

[2018-10-17 10:30] #12 closed

[2019-01-17 15:28] drbenmorgan opened #1 "Document HOMEBREW_ARCH issues"
### Bug reports:

The move to gcc-7 (and further) on Linux can cause issues if there is a mismatch between this and the host CPU and system `binutils` versions. This is caused by Homebrew using `-march=native` for from-source builds on a Host CPU that supports ISAs the system binutils cannot assemble. With that flag, GCC will generate assembly that the used (system) binutils cannot assemble, causi

[2019-01-17 15:28] drbenmorgan commented on #1
@pfranchini, I've just noted the issue we looked at this afternoon here. If you have further failure (or success!) please post them here.

[2019-01-17 15:45] pfranchini commented on #1
I have built on CentOS6 with `HOMEBREW_CORE=core2` but I got errors coming from assembler.

[2019-01-17 15:54] drbenmorgan commented on #1
Hi @pfranchini, could you run and post the logs here of:

[code]

[code]

please? Please also run, for each of the formula that fail:

[code]

and post the resulting link here. I think it's now binutils failing, so try:

[code]

[2019-01-17 17:08] pfranchini commented on #1
[code]

[2019-01-17 17:09] pfranchini commented on #1
Have to figure how to make `brew gist-logs` work

[2019-01-17 17:11] drbenmorgan commented on #1
Thanks! Only thing I can spot in the config output is that `HOMEBREW_ARCH` is `core` rather than `core2`. However, don't change that until we get the `gist-logs` working to confirm that's the issue or something else.

[2019-01-17 17:13] pfranchini commented on #1
Was a later try.

[2019-01-18 11:46] pfranchini commented on #1
I have got it here:
https://gist.github.com/pfranchini/e24e5b1a8e69fe832e2aa20593c30b90

[2019-01-18 12:09] drbenmorgan commented on #1
Thanks! It does look as if the superenv isn't set correctly, as this line:

https://gist.github.com/pfranchini/e24e5b1a8e69fe832e2aa20593c30b90#file-02-make-cc-L2

Shows it's adding `-march=native` to the flags. Let's try the following:

[code]

as it looks like the `HOMEBREW_ARCH` variable isn't supported any more... The `std` env should however default to `core2` or close. If we can get binutils

[2019-01-18 14:20] pfranchini commented on #1
From a fresh session:

[code]

[2019-01-22 14:54] drbenmorgan commented on #1
O.k., I think we need to start from scratch here... So try:

[code]

Let's just see if that works before going further. The above should try and build binutils with the system compiler/binutils (which should be o.k.). That *should* work.

[2019-01-25 15:02] pfranchini commented on #1
Unfortunately it did not....
[code]

[2019-01-25 15:51] drbenmorgan commented on #1
Ah, sorry, I should have been more explicit in the the settings, as Homebrew now tries harder to install binaries. First make sure you start from a pristine environment (so nothing in `PATH` except the brew `bin` dir plus the normal `/usr` system paths). Then do:

[code]

If it works correctly, the install step should print something like

[code]

If it doesn't, post the output here.

[2019-01-25 17:26] pfranchini commented on #1
Thanks it worked, sorry you for the confusion.

[2019-01-25 17:37] drbenmorgan commented on #1
Great! I think with binutils in place, you should be able to build everything. Just to be sure, let's try:

[code]

GDBM was the first package to report an issue, so hopefully this time it goes through...

[2019-01-29 17:23] pfranchini commented on #1
Ok this part works. Trying with falaise now...

[2019-02-05 17:57] pfranchini commented on #1
Sorry, have been distracted by some other things. Here the last attempt:

[code]

[2019-02-06 12:58] drbenmorgan commented on #1
Hi @pfranchini, could you try

[code]

please? Pull Request #76 should have fixed this issue, so assuming the `expat` install now runs, you can try `brew install falaise --cc=gcc-7` again after that.

[2019-02-06 14:13] pfranchini commented on #1
[code]

[2019-02-06 14:53] drbenmorgan commented on #1
Oh @£$$%!ing Homebrew... Can you post the output of

[code]

If it's truly updated, it'll print something like:

[code]

I *bet* it's insisting on installing `git` before updating (so not *actually* updating...). So it won't print the above. To rectify that do the following:

[code]

Try `brew install expat --cc=gcc-7` first, then `brew install falaise --cc=gcc-7`

[2019-02-06 16:11] pfranchini commented on #1
Do not worry we will get there ;)
[code]

So apparently is there, with the proper version, but

[code]

I tried doing the uninstall `brew uninstall expat@2.2.6` but is still there
[code]

[2019-02-11 11:37] pfranchini commented on #1
Hi Ben, had few more attempts but stuck at that stage...

[2019-02-11 11:42] drbenmorgan commented on #1
Hi Paolo, apologies, I missed your previous post... Does

[code]

actually list expat anywhere (and could you also post the exact output of the above please)?

[2019-02-11 12:26] pfranchini commented on #1
No worries Ben. Actually I managed to disinstall it.

[code]

[2019-02-11 12:31] drbenmorgan commented on #1
Great! So are you now able to do

[code]

?

[2019-02-11 12:35] pfranchini commented on #1
Done

[2019-02-11 12:45] drbenmorgan commented on #1
O.k., so it should (everything crossed...) hopefully be possible to do...

[code]

[2019-02-11 12:50] pfranchini commented on #1
Yeah I am keeping crossing stuff, but back where we were before

[code]

[2019-02-11 13:12] drbenmorgan commented on #1
Ugh, I bet this is related to "you can use a tap, but" issues. Bear with me, I'll try and fire up a container to reproduce this.

[2019-02-11 13:28] pfranchini commented on #1
Sure thanks for that. BTW what is the problem? would have been more straightforward in CentOS7?

[2019-02-11 13:45] drbenmorgan commented on #1
You can try CentOS7 if you have it available. That'll solve the binutils issue, but the error above *looks* like it's down to Homebrew complaining that you haven't installed *its* expat rather than the one we want. It's possible that this is simply due to the previous update issues, so trying on a clean machine/install would help.

[2019-02-12 12:12] pfranchini commented on #1
Still in CentOS6 I have redone the installation from scratch but got at the very same point `Error: expat is already installed from supernemo-dbd/cadfael!`

[code]

[2019-02-12 14:22] drbenmorgan commented on #1
Bear with me, sort of able to reproduce this on CentOS7, so I'll need to fix those issues and push the changes to #71. Will also need that merged to guarantee everything working...

[2019-02-25 10:32] pfranchini commented on #1
Hi Ben,

any news on that?

cheers,

Paolo

On 12/02/2019 14:22, Ben Morgan wrote:

[2019-02-27 16:17] drbenmorgan commented on #1
Hi @pfranchini, could you please delete any existing brew setup you have and attempt a fresh installation following the instructions in the [README](https://github.com/supernemo-dbd/brew/README.md) for a Native install please? Basically, these two sections:

- https://github.com/supernemo-dbd/brew#native-install-prerequisites
- https://github.com/supernemo-dbd/brew#installing-natively

It should w

[2019-02-27 16:38] pfranchini commented on #1
Hi Ben. Will do, both on CentOS6 and 7. I do not really need to stay on CentOS6 so will be my last attempt before moving to 7.

Thanks.

[2019-03-01 12:51] pfranchini commented on #1
Since Singularity is not installed on our CentOS6 machines, I moved to CentOS7.
I have got this error:

[code]

[2019-03-01 13:28] drbenmorgan commented on #1
O.k., could you run and post the output of:

- `brew snemo-doctor`
- `brew config`

and also run `brew gist-logs root6` and post the link here please?

[2019-03-01 13:34] pfranchini commented on #1
[code]
[code]
[code]

[2019-03-01 13:51] drbenmorgan commented on #1
... and the gist logs for root6 as well please!

[2019-03-01 14:02] drbenmorgan opened #2 "`snemo-doctor` reports empty list of missing packages"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to this repository again.**

- [x] ran a `brew` command and reproduced the problem with multiple formulae?
- [x] ran `brew update

[2019-03-01 14:03] drbenmorgan commented on #2
Likely due to poor Ruby-fu in the `snemo-doctor` command on checking Arrays/Strings for emptyness.

[2019-03-01 14:04] drbenmorgan commented on #2
Oh yes, and the `brew config` and `brew doctor` output is needed!

[2019-03-01 14:04] pfranchini commented on #1
[02_make.log](https://github.com/SuperNEMO-DBD/brew/files/2919705/02_make.log)

[2019-03-01 14:06] drbenmorgan commented on #2
Done...

[2019-03-01 14:24] drbenmorgan commented on #1
Thanks! Two possibilities:

- How much RAM does this system have? There are a *lot* of cores!
- More likely is the unknown symbol. I'll try and reproduce on a Skylake system. May need a binutils bump, but let me try first as I have seen other issues with doing this.

[2019-03-01 14:32] pfranchini commented on #1
There are 10Gb free at the moment. I might even try to wipe and retry.
126G in total and 8(?) used

[2019-03-01 14:39] edbird opened #3 "Debian 9.8 installation failure, 2019-02-28"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to this repository again.**

- [x] ran a `brew` command and reproduced the problem with multiple formulae?
- [x] ran `brew update

[2019-03-01 14:42] drbenmorgan commented on #1
O.k., so about 4GB per core, which should be fine unless anything is hogging this system whilst you were doing the build. It might be worth trying again and setting the `HOMEBREW_MAKE_JOBS` environment variable to something lower, for example

[code]

It'll be a little slow to compile ROOT, but could help check for any issues due to RAM etc...

[2019-03-01 14:48] drbenmorgan commented on #3
Hi @edbird, thanks for all the info! Whilst I'm not sure of the locale warnings are significant, you might want to set up the `en_US.UTF-8` locale as per the Ubuntu Dockerfiles (needs `sudo`):

https://github.com/SuperNEMO-DBD/brew/blob/928e679711ec01b63a08f3a5e96a5a9f4b7be107/Docker/ubuntu1604/Dockerfile#L33

You could then try rerunning `brew snemo-bootstrap`. If it fails again at the install of

[2019-03-01 15:23] edbird commented on #3
Hi @drbenmorgan docker is a different way of installing to native, is this correct? So I should start again and follow ubuntu docker instructions?

[2019-03-01 15:50] drbenmorgan commented on #3
Hi @edbird, yes docker, or rather using docker images, is different, but the Dockerfiles show the full recipe for preparing ~~the~~ a CentOS/Ubuntu system for SuperNEMO software installs. I use them to test installations so I can track the minimum system requirements that'll be required on bare metal systems.

Whilst we don't have a Debian one, it's similar enough to Ubuntu that I can see that you

[2019-03-01 16:07] drbenmorgan commented on #1
Hi @pfranchini, I've tested on the following system:

[code]

Everything installed fine, so I'd suspect that your build went over some resource limit for gcc, so please try the suggestion above on limiting the number of `make` jobs. Let's see what happens with that, and I think 8 should be enough for a reasonable build time with enough resource.

[2019-03-01 16:30] pfranchini commented on #1
Great! I have got at the end of the Falaise installation, thanks for that.
I can run Falaise simulation, reconstruction and visualisation commands so everything seems to be fine.

[2019-03-01 16:42] drbenmorgan commented on #1
👍 ! I'll leave the issue open for now just in case anything else pops up in the near term, so please close once you're happy with things!

[2019-03-01 16:47] pfranchini commented on #1
Thanks for your help.
A question: what would be the advantage of using an image instead of the standalone installation?

[2019-03-01 18:18] edbird commented on #3
@drbenmorgan No problem running this command. brew doctor still reports a warning:

[code]

and brew snemo-bootstrap...seems to have finished without error?

[2019-03-01 18:37] drbenmorgan commented on #3
The output looks ok, there are always a few warnings and the ones you have should be benign.

If the bootstrap is completed, are you able to run `brew test falaise`?

[2019-03-01 20:21] drbenmorgan opened #4 "USER is set incorrectly in Singularity"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to this repository again.**

- [x] ran a `brew` command and reproduced the problem with multiple formulae?
- [ ] ran `brew update

[2019-03-01 20:22] drbenmorgan commented on #4
Fix will either be in the entry point script (change `USER` to `whoami`), or in a proper Singularity recipe. Need to RTF(Singularity)M first!

[2019-03-01 20:40] cherylepatrick commented on #4
Not the end of the world if it has to go in the script!

[2019-03-01 20:59] edbird commented on #3
Yes:

[code]

[2019-03-01 21:17] drbenmorgan commented on #3
Great! That should mean everything’s ready, so try out `brew snemo-shell` as documented to start up a session. If that works ok, you’re good to go for running the applications or development work.

[2019-03-01 23:07] edbird commented on #3
Yes it works. Is snemo-shell a new piece of software? I've never seen it before.

[2019-03-02 12:24] drbenmorgan commented on #3
`snemo-shell` is a new external command for `brew`. It’s run as `brew snemo-shell` and drops you into a Bash shell whose environment is set up with all needed settings for running or developing Falaise and anything else. That, I hope, should reduce errors in setup and make that setup consistent and reproducible.

[2019-03-02 17:27] edbird commented on #3
Ok that's a nice feature, thanks for the info

[2019-03-02 20:41] edbird opened #5 "Linker error - CXX program compilation with Falaise"
I am trying to compile and link a c++ program.

Error specifics:

[code]

I have falaise installed and working.

This error occurs regardless of whether I call `eval $(~/snemo-sdk/bin/brew shellenv)` before running cmake.

My CXX file is compiled with cmake.

What further information is required?

I guess I can add my `CMakeLists.txt`

[code]

I am not super familiar with cmake, but this seems ok?

[2019-03-03 16:28] drbenmorgan commented on #5
Hi @edbird, I've moved to https://github.com/SuperNEMO-DBD/brew as this is not directly related to Falaise.

What I *suspect* is happening is that CMake is picking up the system compiler rather than the brewed one (IIRC, Debian 9 is gcc 6, whereas SuperNEMO now uses gcc 7). You can check that by open the `CMakeCache.txt` file in the directory where you ran `cmake` and see if `CMAKE_CXX_COMPILER` p

[2019-03-03 16:28] drbenmorgan commented on #3
O.k., closing this now, any further problems, please open a fresh issue.

[2019-03-03 16:28] #3 closed, assigned to drbenmorgan

[2019-03-03 16:34] drbenmorgan commented on #4
Reading the Singularity info, it looks like the first things to try are:

1. Don't set `USER` in the Dockerfile's `ENV` as that gets explicitly set in the Singularity container. *However*, check whether `USER` is set in the resulting shell sessions. If not, might need to explicitly use a login shell (`/bin/bash -l`) for `SHELL` etc.
2. Recommend use of `singularity run` over `singularity shell`. T

[2019-03-03 20:17] edbird commented on #5
Thanks @drbenmorgan you guessed correctly... and indeed it works with snemo-shell - thanks

[2019-03-04 16:24] #4 closed, assigned to drbenmorgan

[2019-03-07 14:13] drbenmorgan opened #6 "Support graphical programs in `snemo-shell`"
# A detailed description of the proposed feature

Current testing at CC-IN2P3 show that `snemo-shell` does not keep the `DISPLAY` setting, preventing transparent use of graphical programs like `flsimulate-configure`, `flvisualize`, and `root`.

In addition, the `XDG_RUNTIME_DIR` gets exported (and is not valid in the container), and `flsimulate-configure` loses Keyboard control (to input the varia

[2019-03-07 14:14] drbenmorgan commented on #6
Should also test locally at Warwick.

[2019-03-07 17:20] drbenmorgan commented on #6
@lemiere, @cherylepatrick, further to your feature requests 😄, here's the issue tracking the display issue. I've posted some temporary workarounds here in case you wanted to try them out at Lyon:

1. For `flsimulate-configure`, it can be used by creating the following script:

[code]

   Save it in `$HOME` (e,g. `run_flsimconfig.sh`) and `chmod u+x` it. Then `exec` it in the container:

[code]

[2019-03-07 17:27] drbenmorgan commented on #5
O.k., just closing this as you got it working!

[2019-03-07 17:27] #5 closed, assigned to nobody

[2019-03-18 11:41] #2 closed, assigned to drbenmorgan

[2019-03-18 11:44] drbenmorgan commented on #6
Basic issue triaged to `DISPLAY` and others not being a whitelisted env var. To be fixed in main `bin/brew` program, plus in `snemo-shell`. Likely that `XDG/Qt` vars should be exported in non-Singularity sessions, but deleted in native. To be confirmed.

[2019-03-18 15:58] #6 closed, assigned to drbenmorgan

[2019-03-20 20:56] drbenmorgan opened #9 "Filter RPATH relevant environment variables in snemo-shell"
- [x] ran a `brew` command and reproduced the problem with multiple formulae?
- [ ] ran `brew update` and can still reproduce the problem?
- [ ] ran `brew doctor`, fixed all issues and can still reproduce the problem?
- [ ] ran `brew config` and `brew doctor` and included their output with your issue?
- [ ] have a problem with `brew install` (or `upgrade`, `reinstall`) a single, supernemo-dbd-core

[2019-03-26 17:33] drbenmorgan opened #10 "Docker/Singularity still setting USER"
Though #4 was fixed, running singularity at CC-IN2P3 (and at Warwick) still has `USER=snemo` set in the environment. This is *probably* due to a mistake in the rebuild/regeneration of the Docker images.

To be investigated. In the meantime, one should override the setting when you start, so:

- In `brew snemo-shell`, do `export USER=$(whoami)`
- Running directly could use a wrapper script, or the

[2019-04-19 09:35] MHoballah opened #11 "Problem of installing brew gcc@7 and falaise"
Dear Ben,

We had problems installing falaise brew at Lyon when installing gcc@7.
Thanks for the help for the new student Malak Hoballah, cheers

                                  Laurent and Malak

==> Installing gcc@7
==> Downloading https://ftp.gnu.org/gnu/gcc/gcc-7.4.0/gcc-7.4.0.tar.xz
Already downloaded: /pbs/home/m/mhoballa/.cache/Homebrew/downloads/07bf377bb288d33327b5db269277c2fee319dafda4

[2019-04-23 11:43] drbenmorgan commented on #11
Hi @MHoballah, could you run:

[code]

and post the link here please?

[2019-04-23 11:45] drbenmorgan commented on #11
Also note that you *don't* have to install Falaise by hand at CC-IN2P3. Singularity containers are available as documented in the README:

- https://github.com/SuperNEMO-DBD/brew#installing-images
- https://github.com/SuperNEMO-DBD/brew#using-an-image

and in the docs from the Annecy tutorial:

- http://nile.hep.utexas.edu/cgi-bin/DocDB/ut-nemo/private/DisplayMeeting?conferenceid=802

[2019-04-23 11:50] MHoballah commented on #11
Hello,
Here's the link:

https://github.com/settings/tokens/new?scopes=gist,public_repo&description=Homebrew

Thanks in advance,
Malak

[2019-04-23 12:15] drbenmorgan commented on #11
Thanks, but that's not a gist link. It looks like it's asking you to set up an access token. Did it print:

[code]

Create that token and follow the instructions for adding it to your shell profile, or run:

[code]

[2019-04-23 12:31] MHoballah commented on #11
sorry, this is the link:
https://gist.github.com/d3bc534ae5bda417fe47b17eacdea6e4

[2019-04-23 12:49] drbenmorgan commented on #11
O.k., can you run

[code]

and post the output please?

[2019-04-23 12:53] MHoballah commented on #11
sure:

binutils 2.32
bzip2 1.0.6_1
curl 7.64.0
gcc@7 7.4.0
gettext 0.19.8.1_1
glibc 2.23
gmp 6.1.2_2
gpatch 2.7.6
isl 0.20
libbsd 0.8.3
libmpc 1.1.0
linux-headers 4.4.80
m4 1.4.18
mpfr 4.0.1
ncurses 6.1
openssl 1.0.2q_2
pcre2 10.32
pkg-config 0.29.2_1
zlib 1.2.11

[2019-04-23 12:57] drbenmorgan commented on #11
The problem is likely caused by the presence of glib, and looks like the error isn't fundamentally due to gcc. Could you post the exact sequence of commands you used to try and install falaise please?

[2019-04-23 13:13] MHoballah commented on #11
I followed the steps in this link:

https://github.com/SuperNEMO-DBD/brew

$ sudo apt-get install ca-certificates curl file g++ git locales make uuid-runtime libx11-dev libxpm-dev libxft-dev libxext-dev libglu1-mesa-dev flex texinfo
$  git clone https://github.com/SuperNEMO-DBD/brew.git snemo-sdk
$ eval $(./snemo-sdk/bin/brew shellenv)
$ brew snemo-doctor
$ brew snemo-bootstrap

but did not go pas

[2019-04-23 13:26] drbenmorgan commented on #11
Thanks, I think I see what's happened. What you'll need to do is:

1. Run `brew rm $(brew ls)` to remove everything
2. Run `brew snemo-doctor` again, and post the output here.
   - It's possible that the errors are caused by the scripts listed in the gist you posted (https://gist.githubusercontent.com/MHoballah/d3bc534ae5bda417fe47b17eacdea6e4/raw/05321a88e8af968c706c9ff26d942e69455030ac/00.doctor

[2019-04-23 13:54] MHoballah commented on #11
"brew snemo-doctor" output:
Please note that these warnings are just used to help the SuperNEMO maintainers
with debugging if you file an issue. If everything you use Homebrew for is
working fine: please don't worry or file an issue; just ignore this. Thanks!

Warning: "config" scripts exist outside your system or Homebrew directories.
`./configure` scripts often look for *-config scripts to deter

[2019-04-23 13:58] drbenmorgan commented on #11
O.k., that looks better. See what happens with the delete/reinstall, and we can try and track down the formula causing the problem.

[2019-04-29 15:52] drbenmorgan commented on #11
I think the test error is expected due to #10, so use the workaround in there for now. I’ll update the Singularity container in the next few days.

[2019-04-30 10:27] #11 closed, assigned to nobody

[2019-07-15 16:48] #10 closed, assigned to drbenmorgan

[2019-08-01 21:35] pfranchini opened #13 "Falaise from Docker not running on old CPUs"
On this sort of CPUs I cannot run Falaise 3.3.0 (or 4.0.0) pulled from the docker (SIGILL: illegal instruction).
Basically this sort of CPU constitutes all the nodes of the "long" queue of the Imperial cluster.
Have you built using `-march=native` ?
Thanks. Paolo

[pfranchi@lxa05 ~]$ lscpu
Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(

[2019-08-02 16:31] drbenmorgan commented on #13
Hi @pfranchini, could you post the *exact* sequence of commands used, and the full error reported please?

Things should be building with core2, but possible I missed something or that one of the packages is activating something it shouldn't.

[2019-08-02 18:39] pfranchini commented on #13
Hi @drbenmorgan, basically the bare-bone command throwing the error is
`  singularity exec -C /vols/build/snemo/falaise/falaise_latest.sif flreconstruct --version `
Here the exact error: [singularity.log](https://github.com/SuperNEMO-DBD/Falaise/files/3462523/singularity.log)

[2019-08-05 12:49] drbenmorgan commented on #13
Hi @pfranchini, are you able to run a simple shell into the container, e.g.

[code]

I suspect that it *is* an Arch issue but just want to confirm the basic functionality of the container itself rather than built software inside it.

[2019-08-05 20:44] pfranchini commented on #13
Here you are. Apparently the container has some issues on that specific node.
[code]

[2019-08-06 14:44] drbenmorgan commented on #13
Just transferring for reference. Looks like an arch issue, so will need to rebuild and redeploy containers. There's an incoming patch for Falaise, so should be in next day or two.

Note however that these are very old CPUs, so there will be a limit to how long we can continue to support these if we want to maximise performance of the containers.

[2019-08-06 19:42] pfranchini commented on #13
Thanks for that.
I have been running MC at Imperial just for my personal convenience, but of course is not really mandatory me for (or for the experiment).
I will try to report this to the computing group, but I imagine same concerns might have been raised by other experiment.

[2019-09-13 12:55] edbird opened #14 "Installing on pc196 at UCL HEP"
Info:

brew snemo-doctor
Please note that these warnings are just used to help the SuperNEMO maintainers
with debugging if you file an issue. If everything you use Homebrew for is
working fine: please don't worry or file an issue; just ignore this. Thanks!

Warning: Unbrewed header files were found in /usr/local/include.
If you didn't put them there on purpose they could cause problems when
buildi

[2019-09-13 13:21] drbenmorgan commented on #14
Which OS/Version is this? The build is, fo some reason, picking up the system install of `libxml2` and failing because of that. Can you also run and post the output of `brew config` and `brew cat gettext` please?

[2019-09-21 11:18] edbird commented on #14
Hi, apparently it is CentOS7

[code]

This is brew config:

[code]

and this is

[code]

[2019-09-23 10:11] drbenmorgan commented on #14
Thanks! I'm not able to reproduce the issue on a CentOS7 Docker image with system libxml2 installed. Could you please run

[code]

and post the link(s) generated please?

[2019-09-23 11:47] edbird commented on #14
brew gist-logs gettext
You can create a new personal access token:
  https://github.com/settings/tokens/new?scopes=gist,public_repo&description=Homebrew
echo 'export HOMEBREW_GITHUB_API_TOKEN=your_token_here' >> ~/.bash_profile

GitHub User: edbird
Password:

Error: GitHub Requires authentication:The GitHub credentials in the macOS keychain may be invalid.
Clear them with:
  printf "protocol=https

[2019-09-23 12:26] drbenmorgan commented on #14
The token should just be a long hash, you shouldn't post it here since it gives access to your GitHub Account. Simply follow the instructions as printed, do:

[code]

[2019-09-27 12:06] edbird commented on #14
Is this the thing you required?

https://gist.github.com/edbird/c2eb1f17c4e5a56c5cd3399ea769c5ee

[2019-09-27 20:16] drbenmorgan commented on #14
Yes, thanks! Also, what packages do you have installed, i.e., what does

[code]

print? All I can think is that the system compiler is being used and that's causing the pick up of the system libxml2.

Did you try the exact "from scratch" instructions here : https://github.com/SuperNEMO-DBD/brew#installing-natively-from-scratch

[2019-10-01 16:38] edbird commented on #14
Hi again. answer is:

[code]

will try following again and update you

[2019-10-03 15:17] emchauve opened #15 "failure in brewing falaise 4 on ubuntu 18.04"
while putting falaise 4 on a fresh installation of ubuntu 18.04, brew snemo-bootstrap is failing at the step of **linux-pam** :
`Error: No available formula with the name "linuxbrew/extra/linux-pam" (dependency of falaise)`

a missing formula ?

[2019-10-03 16:03] drbenmorgan commented on #15
Hi @emchauve, this should now be fixed, so please try running

[code]

That last command should be sufficient as the bootstrap appears to have got to the stage of installing Falaise and its dependencies.

[2019-10-03 21:48] emchauve commented on #15
fixed, cheers !

[2019-10-03 21:48] #15 closed, assigned to drbenmorgan

[2020-02-07 10:54] MHoballah opened #17 "brew snemo-bootstrap failing when installing automake/flex"
Hello,

A problem installing falaise from brew snemo-bootstrap fails at automake and flex installation.

Thanks in advance,
Malak

[code]
[code]
////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
$ brew snemo-bootstrap
warning: You already have Formulae installed, expect warnings o

[2020-02-11 15:09] drbenmorgan commented on #17
Do you have `flex` installed on the system?

[2020-02-11 15:12] MHoballah commented on #17
yes, flex 2.6.4

[2020-02-11 15:13] drbenmorgan commented on #17
Please try:

[code]

[2020-02-11 15:18] MHoballah commented on #17
[code]

[2020-02-11 15:25] drbenmorgan commented on #17
Thanks! Bear with me, just need to see if I can reproduce from scratch.

[2020-02-11 17:22] drbenmorgan commented on #17
O.k., please run

[code]

The bug in `automake` is fixed, and I've bee able to install `flex` on an Ubuntu box this way.

[2020-02-12 09:53] MHoballah commented on #17
Thank you,  I now have a successful installation. But the problem of
[code]
that is the bug in [https://github.com/SuperNEMO-DBD/Falaise/issues/166](url) exists.
I cant reach the fix of this issue proposed by you before.

[2020-04-06 17:40] willquinn opened #22 "Failed to build Falaise locally on Mac OS 10.15.4 (Catalina)"
## What you were trying to do (and why)

Local install of Falaise on my Mac OS 10.15.4. At snemo-bootstrap stage

$ git clone https://github.com/SuperNEMO-DBD/brew.git snemo-sdk
$ eval $(./snemo-sdk/bin/brew shellenv)
$ brew snemo-doctor

$ brew snemo-bootstrap

## What happened (include command output)

<Failed to download some dependencies>

<details>
  <summary>Command output</summary>
  <pre>

[2020-04-06 18:21] drbenmorgan commented on #22
Traced to openssl changing their URLs. SuperNEMO-DBD/homebrew-core has been updated with this, so please try:
[code]
then
[code]
If that complains or fails, try
[code]

[2020-04-07 10:43] willquinn commented on #22
Thanks, that installed that dependancy. However, I think it is stuck installing cmake. I tried both [$ brew snemo-boot-strap] and [brew install falaise] but get stuck at the same point for each - no error

==> Installing cmake
==> Downloading https://github.com/Kitware/CMake/releases/download/v3.13.4/cmake-3.13.4.tar.gz
==> Downloading from https://github-production-release-asset-2e65be.s3.amazona

[2020-04-07 10:55] drbenmorgan commented on #22
Is there a pop-up window anywhere on screen warning about (IIRC) installed Java or the like? This a macOS annoyance when build systems check for (again, I *think*) Java.

Otherwise, try:
[code]

That will give verbose output and indicate where the stall is happening.

[2020-04-07 11:23] willquinn commented on #22
No pop ups.

I assume this is where it gets stuck (after ~25 mins):
-- Looking for a Fortran compiler - NOTFOUND
-- Performing Test run_pic_test
-- Performing Test run_pic_test - Success

Then nothing for a while (~20 mins)

[2020-04-07 12:51] drbenmorgan commented on #22
I've tried this on my own machine and here's what I get (inc. the pop up) at that stage:

![Screenshot 2020-04-07 at 13 45 24](https://user-images.githubusercontent.com/1102642/78670945-7802b800-78d6-11ea-8bbe-eff0c5c44649.png)

the Java popup shouldn't stop the build progressing, but it's all I can think of. Do you have Java installed anywhere? Also, when it sticks like you've shown, can you open

[2020-04-07 13:30] willquinn commented on #22
I still get no pop up, perhaps the lack of a pop up stops the build. I tried installing a JDK but I get the same stall. I run top -o cpu and get this:

<img width="1209" alt="Screenshot 2020-04-07 at 13 54 37" src="https://user-images.githubusercontent.com/44215491/78674675-de3e0980-78db-11ea-8a03-22b4c603aa7d.png">

CPU usage of the Terminal is variable.

[2020-04-07 13:38] drbenmorgan commented on #22
I'm really at a loss to explain this... All I can (unfortunately) suggest is to nuke the install and start again, juts trying to install `cmake`:

[code]

[2020-04-09 12:03] drbenmorgan commented on #22
Hi @willquinn, if you were not able to resolve this, I have updated the CMake formula. No guarantee it'll fix things, but if you were still having issues, try

[code]

[2020-04-21 19:22] willquinn commented on #22
Sorry for the late response:

Have tried both instances, nuking the install and starting again and updating brew. Neither get me past the same stage as above. Is this just my laptop not being able to install cmake or is it an issue with the version of MacOS - i.e is it reproducible?

[2020-04-21 20:48] drbenmorgan commented on #22
I've added one further path which _may_ (and equally may not) help with the issue. Run

[code]

I'm not able to reproduce this hang on two different systems both running Catalina. Let's see if the latest fix resolves it, otherwise we'll need to dig a bit further.

[2020-04-21 20:49] drbenmorgan commented on #17
Bug in flvisualise now fixed on the `develop` branch of Falaise, will be in next release, but in the meantime you can do

[code]

which will install the latest version of Falaise at the current tip of the develop branch.

[2020-04-21 20:50] drbenmorgan commented on #14
Closing due to lack of updates

[2020-04-21 20:50] #14 closed, assigned to nobody

[2020-04-21 20:51] drbenmorgan commented on #13
Resolved here by patch to always build against core2 cpus.

[2020-04-21 20:51] #13 closed, assigned to nobody

[2020-04-22 09:06] willquinn commented on #22
Ok I am running those commands.

Output of the brew snemo-doctor:

Please note that these warnings are just used to help the SuperNEMO maintainers
with debugging if you file an issue. If everything you use Homebrew for is
working fine: please don't worry or file an issue; just ignore this. Thanks!

Warning: The following directories do not exist:
/Users/willquinn/snemo-sdk/include
/Users/willquinn

[2020-04-22 09:59] drbenmorgan commented on #22
Thanks! The output looks about what I'd expect and is similar to within paths and the `/usr/local` section to what I get. Let's see what happens with the cmake install.

[2020-04-23 09:58] MHoballah commented on #17
Okay, but now there is this, thanks in advance:
`==> Installing falaise dependency: qt5-base
==> Downloading http://download.qt.io/official_releases/qt/5.12/5.12.6/submodule
Already downloaded: /home/hoballah/.cache/Homebrew/downloads/20c583f798d75b345f916dc6db0e095366c50641b798f949714d643f002adb52--qtbase-everywhere-src-5.12.6.tar.xz
==> ./configure -verbose -prefix /home/hoballah/snemo-sdk/Cella

[2020-04-23 10:14] drbenmorgan commented on #17
Ah I think that's due to Qt needing an extra package now. If you have admin access to the machine, try

[code]

or ask the admin to install that package.  Then try installing again.

[2020-04-23 10:25] MHoballah commented on #17
now this... thanks in advance:
`==> Installing falaise dependency: tbb
==> Downloading https://github.com/01org/tbb/archive/2019_U3.tar.gz
Already downloaded: /home/hoballah/.cache/Homebrew/downloads/1e6ffd921a9c0d1c107b278265fcd7675ea687bf1ce5d2412889e9a7d1c0ca69--tbb-2019_U3.tar.gz
Error: An exception occurred within a child process:
  ChecksumMismatchError: SHA256 mismatch
Expected: 4cb6bde796a

[2020-04-23 10:40] drbenmorgan commented on #17
Try:

[code]

then reinstall. It works for me, so I suspect a partial/failed download.

[2020-04-23 11:27] MHoballah commented on #17
Ok, so, now  if i type "brew update" i get "Already up-to-date."
and
[code]
should I "brew unlink falaise" ?

if I go into snemo-shell :
[code]
and if I try flvisualize:
[code]

[2020-05-04 14:28] edbird opened #27 "New Install: Debian - Locale error"
Hi,

Started a new install on my local machine. This is (nearly) new OS - so I hope this problem will be fairly easy to debug.

[code]

This appears to be a "proper error" as brew snemo-bootstrap fails.

[code]

## Required Information
### Output of `brew config`?
[code]

### Output of `brew snemo-doctor`?
[code]

## Are you experiencing...
## [x] A problem with running `brew` itself?
see above

#

[2020-05-04 15:51] drbenmorgan commented on #27
Try `export HOMEBREW_FORCE_VENDOR_RUBY=1` then

[code]

[2020-05-04 16:29] edbird commented on #27
Thanks - currently running doctor...

I don't know why this works as a solution - is this something that would be useful to add as a note on the installation instructions?

Doctor has reported a few things back

[code]

Do I need to do anything about either of these? Thanks for the help so far

[2020-05-04 16:49] drbenmorgan commented on #27
Nope, they're just warnings - you should be fine to do `brew snemo-bootstrap` now.

[2020-05-04 16:58] edbird commented on #27
Hi Ben, I encountered some errors asking me to run

[code]

Here are those errors

[code]

I tried that, and this is the result:

[code]

Any ideas? Again sorry I can't be more help, I don't have the first idea where to start with this.

[2020-05-04 17:37] drbenmorgan commented on #27
Please run `brew gist-logs m4` and post the result here.

Which exact Debian version is this, and what's the system gcc?

[2020-05-05 12:46] edbird commented on #27
Hi again, is this to create a personal access token?

I assume this is not what you expected to see?

[code]

[2020-05-05 12:49] drbenmorgan commented on #27
Yep, just follow the instructions it's giving you to create and setup the token!

[2020-05-05 13:16] edbird commented on #27
Ok - is this the right thing?

https://gist.github.com/edbird/941c071da683c1ce9bcdbb3d84b56c42

[2020-05-05 13:42] drbenmorgan commented on #27
Yes, thanks! The problem is down to this:

https://github.com/easybuilders/easybuild-easyconfigs/issues/7383

So we'll need the patch from there. You can try applying the patch in that Issue/PR to the m4 formula. Try `brew edit m4` and setup the patch by adding an additional `patch` block blow the high Sierra one (line numbers added for clarity):

[code]

I can't test directly until I have an Ubun

[2020-05-05 13:55] edbird commented on #27
Ok, let's have a go at that then... It used to look like this
![image](https://user-images.githubusercontent.com/2939755/81073815-19822700-8ee0-11ea-82ab-85ca352d8e7b.png)

and now it looks like this

![image](https://user-images.githubusercontent.com/2939755/81074055-62d27680-8ee0-11ea-8110-38f47f0c8ed2.png)

Let's try it...

[2020-05-05 13:58] edbird commented on #27
Did I misunderstand how to apply the patch?

[code]

[code]

[2020-05-05 14:00] drbenmorgan commented on #27
Hmm, try changing the ":p0" to ":p1", the error message suggests a file path issue rather than the patch.

[2020-05-05 14:50] edbird commented on #27
This seems to be working! Curently bootstrapping

[2020-05-05 16:07] drbenmorgan commented on #27
Great! Let me know if it completes o.k., and I'll add the patch in.

[2020-05-05 19:58] edbird commented on #27
Hi Ben - it all seem to be ok, or at least root runs, and `snemo-bootstrap` finished with the final 2 steps being installations of bayeux and falaise.

Unless you want me to run any further tests I would recommend adding this as a patch and closing the issue. Thanks for your prompt replies - I can get on and do my work now. All the best

[2020-06-03 12:51] #17 closed, assigned to nobody

[2020-06-24 14:51] edbird opened #30 "Debian 10 installation issue - bootstrap"
Hi, I have some issues install on Debian 10 (actually Debian 10 this time not testing).

Below are 2 pastes, the first from trying to bootstrap, the second is bootstrap again after installing the required gcc@7 with brew.

I had a look inside the file `/home/ecb/.cache/Homebrew/Logs/xz/02.make`, but didn't find anything enlightening.

[code]

[code]

## Required Information
### Output of `brew con

[2020-06-24 14:52] edbird commented on #30
I changed the title of this issue as I already had xorg installed. I thought I did not but was incorrect.

[2020-06-24 15:10] #27 closed, assigned to nobody

[2020-06-24 15:14] drbenmorgan commented on #30
Let's try and resolve the locale issue first. Try running:

[code]

That should resolve those messages, then try rebuilding. As you've got gcc8 already installed, you could try running

[code]

*If* there are versioned gccs available: `/usr/bin/gcc-8` and and `/usr/bin/g++-8`.

[2020-06-24 18:15] edbird commented on #30
Hi Ben, here's a new result of the bootstrap process.

[code]

[2020-06-24 18:29] drbenmorgan commented on #30
Please run and post the link returned by:

[code]

[2020-06-24 18:48] edbird commented on #30
[code]

[2020-06-24 18:49] edbird commented on #30
It's not that same patch issue with m4 is it?

[2020-06-24 18:53] edbird commented on #30
Hmm, seems like you patched that previous issue already, as the previous patch you mentioned to me a couple of months ago seems to have been applied already.

[2020-06-24 19:10] drbenmorgan commented on #30
Thanks for the logs, I've got a feeling this _might_ be an intermittent error I've seen before with `flex`. On Ubuntu, that was resolved by installed the "HEAD" version, so you could try:

[code]

If that completes o.k., then you can try

[code]

to install the remaining packages.

[2020-06-24 21:24] edbird commented on #30
Hi Ben, do any of these pastes provide useful info for you?

[code]

[code]

[2020-06-24 21:54] edbird commented on #30
Attempting to install autoconf

[code]

[2020-06-25 07:18] drbenmorgan commented on #30
Hmm, `flex` should depend on these, so am not sure why it would _not_ be installing them automatically. Looks like it needs the full auto tools suite, so try

[code]

[2020-06-25 11:00] edbird commented on #30
Here's the result of that

[code]

[2020-06-25 11:04] edbird commented on #30
I may have fixed that?

[code]

[2020-06-25 12:21] edbird commented on #30
I think it worked - or at least bootstrap now worked, and I have access to root. Anything else you would like me to test?

[2020-06-25 15:30] drbenmorgan commented on #30
Great! I think as long as everything is running for you, no more tests are needed. I'll close this Issue, but feel free to reopen or raise another as appropriate if there are additional problems.

[2020-06-25 15:30] #30 closed, assigned to nobody